.card {
  grid-template-rows: 1fr 200px;

  .price {
    font-size: 22px !important;
    font-weight: 800;
  }

  :global .ant-card-cover {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  :global .ant-card-body {
    display: grid;
    gap: 10px;
    grid-template-rows: auto 20px 1fr auto auto;
  }
}
